{% extends "base.html" %}
  {% block body %}
  <div class="container-fluid bg-light mt-5 mb-5">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-sm-8 col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="text-center">Create An Admin</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <form action="/admins/create" method="post">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div><br>
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" id="first_name" placeholder="Enter First Name" name="first_name">
                </div><br>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Enter Last Name" name="last_name">
                </div><br>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}