{% extends "base.html" %}
  {% block body %}
  <div class="container-fluid bg-light">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-sm-8 col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h2> Thank you for submitting the questionnaire. If a suitable mentor match is found for you, you will be contacted by the mentor using the email address provided. </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}